@use 'sass:meta';
/******************* 
    TYPOGRAPHY 
*******************/
.profile__email {
  margin-bottom: 2.5rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__email {
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__email {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .profile__email {
    font-size: 14px;
  }
}

.profile__label {
  margin-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__label {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__label {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .profile__label {
    font-size: 18px;
  }
}

/******************* 
    LAYOUT 
*******************/
.profile__wrapper {
  width: 100vw;
  height: calc(100vh - 90px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 0.26fr 0.44fr;
      grid-template-columns: 0.3fr 0.26fr 0.44fr;
  color: white;
}

.profile__wrapper h1 {
  margin-bottom: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__wrapper h1 {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__wrapper h1 {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .profile__wrapper h1 {
    font-size: 30px;
  }
}

.profile__wrapper h2,
.profile__wrapper p {
  font-weight: 300;
  line-height: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__wrapper h2,
  .profile__wrapper p {
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__wrapper h2,
  .profile__wrapper p {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .profile__wrapper h2,
  .profile__wrapper p {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__wrapper h3 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__wrapper h3 {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .profile__wrapper h3 {
    font-size: 22px;
  }
}

.profile__left {
  border-width: 1px 0 0 0;
  position: relative;
}

.profile-left__container {
  padding: 1.5rem 3rem;
}

.profile__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0 1rem;
}

.profile__edit {
  width: 100%;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #333;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__edit {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__edit {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .profile__edit {
    font-size: 22px;
  }
}

.profile__edit:hover {
  background: white;
  color: black;
}

.profile-middle__header {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile-middle__header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile-middle__header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1024px) {
  .profile-middle__header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.profile-middle__header h2 {
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile-middle__header h2 {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile-middle__header h2 {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .profile-middle__header h2 {
    font-size: 30px;
  }
}

.profile__middle {
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}

.profile__story--list {
  border: 0;
}

.profile__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100vh;
}

.profile__story,
.profile__replies {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.profile__story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__story--container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__story--container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__story--container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1024px) {
  .profile__story--container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__story--container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__story--container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .profile__story--container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.profile__story--container h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__story--container h2 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__story--container h2 {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .profile__story--container h2 {
    font-size: 22px;
  }
}

.profile__story--container p {
  font-weight: 300;
  overflow-y: hidden;
  max-height: 190px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__story--container p {
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__story--container p {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .profile__story--container p {
    font-size: 14px;
  }
}

#container_story {
  padding-bottom: 0;
}

.profile__button--container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid #333;
}

.profile__button--container button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0;
  background: black;
  font-weight: 300;
  color: white;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__button--container button {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__button--container button {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .profile__button--container button {
    font-size: 22px;
  }
}

.profile__button--container button:hover {
  color: black;
  background: white;
}

.profile__button--container button:nth-child(2) {
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}

.profile__replies {
  height: 100%;
  overflow-y: scroll;
  border-top: 1px solid #333;
}

.profile-right__header {
  padding: 2rem;
  border-bottom: 1px solid #333;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile-right__header {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile-right__header {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .profile-right__header {
    font-size: 30px;
  }
}

/******************* 
    COMPONENTS 
*******************/
.profile__social--link {
  width: 160px;
  padding: 0.7rem;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 999px;
  margin-bottom: 10px;
  -webkit-transition: background 200ms, color 200ms;
  transition: background 200ms, color 200ms;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__social--link {
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__social--link {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .profile__social--link {
    font-size: 14px;
  }
}

.profile__social--link:hover {
  background: black;
  color: white;
}

.icons {
  width: 20px;
  height: 20px;
  fill: black;
  margin-right: 0.8rem;
}

.icon--white {
  fill: white;
}

.icon--small {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}

.profile__story--list--card {
  border: 1px solid #333;
  border-width: 1px 0 1px 0;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__story--list--card {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__story--list--card {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1024px) {
  .profile__story--list--card {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__story--list--card {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__story--list--card {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .profile__story--list--card {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.profile__story--list--card h2 {
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__story--list--card h2 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__story--list--card h2 {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .profile__story--list--card h2 {
    font-size: 22px;
  }
}

.profile__story--list--card h3 {
  font-weight: 300;
  margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__story--list--card h3 {
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__story--list--card h3 {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .profile__story--list--card h3 {
    font-size: 14px;
  }
}

.profile__story--list--card:not(:first-child) {
  border-top: 0;
}

.profile__profile__story--links {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0;
}

.profile__story--link {
  width: 60px;
  margin-bottom: 0;
  margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__story--link {
    font-size: 9px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__story--link {
    font-size: 10px;
  }
}

@media (min-width: 1024px) {
  .profile__story--link {
    font-size: 12px;
  }
}

.profile__replies--list--card {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #333;
}

.profile__replies--list--card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__replies--list--card h2 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__replies--list--card h2 {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .profile__replies--list--card h2 {
    font-size: 22px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__replies--list--card h3 {
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__replies--list--card h3 {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .profile__replies--list--card h3 {
    font-size: 14px;
  }
}

.profile__replies--list--card p {
  text-align: justify;
}
/*# sourceMappingURL=Profile.css.map */