// GRAY MONOCHROME
$gray: (
    700: hsl(0, 0, 10),
    600: hsl(0, 0, 20),
    500: hsl(0, 0, 30),
    400: hsl(0, 0, 40),
    300: hsl(0, 0, 50),
    200: hsl(0, 0, 60),
    100: hsl(0, 0, 70),
);

$black: hsl(0, 0, 0);
$white: hsl(0, 0, 100);

// WHITE TRANSPARENCY
$white-transparency: (
    10: rgba(255, 255, 255, 0.1),
    20: rgba(255, 255, 255, 0.2),
    30: rgba(255, 255, 255, 0.3),
    50: rgba(255, 255, 255, 0.5),
    70: rgba(255, 255, 255, 0.7),
    90: rgba(255, 255, 255, 0.9),
);