@import '../vendors/_vendors-dir';

$font-modern: 'Inter', sans-serif;
$font-handwriting: 'Reenie Beanie', cursive;

$fontsize-sm: (
  desktop: 14px,
  tablet: 12px,
  mobile: 11px,
);

$fontsize-md: (
  desktop: 22px,
  tablet: 18px,
  mobile: 16px,
);

$fontsize-lg: (
  desktop: 30px,
  tablet: 26px,
  mobile: 22px,
);

$fontweight: (
  extralight: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);

@mixin responsive-font($fontsize: sm) {
  @if ($fontsize == extrasm) {
    @include media('>=phone', '<tablet') {
      font-size: 9px;
    }
    @include media('>=tablet', '<desktop') {
      font-size: 10px;
    }
    @include media('>=desktop') {
      font-size: 12px;
    }
  }
  @if ($fontsize == sm) {
    @include media('>=phone', '<tablet') {
      font-size: map-get($fontsize-sm, mobile);
    }
    @include media('>=tablet', '<desktop') {
      font-size: map-get($fontsize-sm, tablet);
    }
    @include media('>=desktop') {
      font-size: map-get($fontsize-sm, desktop);
    }
  }
  @if ($fontsize == bigsm) {
    @include media('>=phone', '<tablet') {
      font-size: 13px;
    }
    @include media('>=tablet', '<desktop') {
      font-size: 15px;
    }
    @include media('>=desktop') {
      font-size: 18px;
    }
  }
  @if ($fontsize == md) {
    @include media('>=phone', '<tablet') {
      font-size: map-get($fontsize-md, mobile);
    }
    @include media('>=tablet', '<desktop') {
      font-size: map-get($fontsize-md, tablet);
    }
    @include media('>=desktop') {
      font-size: map-get($fontsize-md, desktop);
    }
  }
  @if ($fontsize == lg) {
    @include media('>=phone', '<tablet') {
      font-size: map-get($fontsize-lg, mobile);
    }
    @include media('>=tablet', '<desktop') {
      font-size: map-get($fontsize-lg, tablet);
    }
    @include media('>=desktop') {
      font-size: map-get($fontsize-lg, desktop);
    }
  }
  @if ($fontsize == extralg) {
    @include media('>=phone', '<tablet') {
      font-size: 30px;
    }
    @include media('>=tablet', '<desktop') {
      font-size: 45px;
    }
    @include media('>=desktop') {
      font-size: 55px;
    }
  }
  @if ($fontsize == hero) {
    @include media('>=phone', '<tablet') {
      font-size: 55px;
    }
    @include media('>=tablet', '<desktop') {
      font-size: 65px;
    }
    @include media('>=desktop') {
      font-size: 75px;
    }
  }
}
