@import '../../scss/styles';

.modal__wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: map-get($white-transparency, 30);
    backdrop-filter: blur(9.5px);
    top: 0;
    left: 0;

    z-index: map-get($zindexes, highest);

    display: grid;
    place-items: center;
}

.modal__container {
    @include responsive-padding-standard(x);
    @include responsive-padding-standard(y);
    width: clamp(300px, 40%, 500px);
    max-height: 500px;
    background: $white;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

    h1,
    p {
        color: black;
        text-align: center;
    }

    h1 {
        @include responsive-font(lg);
        font-weight: map-get($fontweight, semibold);
        margin-bottom: 20px;
    }

    p {
        @include responsive-font(sm);
        font-weight: map-get($fontweight, light);
        margin-bottom: 60px;
    }

    .modal__buttons {
        display: flex;
        align-self: center;

        button {
            background: $black;
            min-width: 100px;
            height: 40px;
            border-radius: 100px;
            border: 0;

            color: $white;
            cursor: pointer;
        }
    }
}
